@model CarLocadora.Modelo.Models.FormasDePagamentosModel


<div class="form-group">
    <label asp-for="Descricao" class="control-label"></label>
    <input asp-for="Descricao" class="form-control" />
    <span asp-validation-for="Descricao" class="text-danger"></span>
</div>



