@model CarLocadora.Modelo.Models.FormasDePagamentosModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar forma de pagamento</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
             <partial name="_Formulario" />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
