@model CarLocadora.Modelo.Models.FormasDePagamentosModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar forma de pagamento</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form id="Form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" class="form-control" type="hidden" />
<input asp-for="DataAlteracao" type="hidden" class="form-control" readonly />
<input asp-for="DataInclusao" type="hidden" class="form-control" readonly />

            <partial name="_Formulario" />

        

            <hr />
            <div class="form-group">
                <button type="button" class="btn btn-primary">
                    <a class="text-white text-decoration-none fw-bold " asp-action="Index">Voltar a lista</a>   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-5.904 2.803a.5.5 0 1 0 .707-.707L6.707 6h2.768a.5.5 0 1 0 0-1H5.5a.5.5 0 0 0-.5.5v3.975a.5.5 0 0 0 1 0V6.707l4.096 4.096z" />
                    </svg>
                </button>
                <button type="submit" value="Save " class="btn btn-primary fw-bold">
                    Salvar  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                    </svg>
                </button>


            </div>

        </form>



    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
