@model CarLocadora.Modelo.Models.ClientesModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientesModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Formulario" />

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
