@model CarLocadora.Modelo.Models.ManutencaoVeiculoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ManutencaoVeiculoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataServico" class="control-label"></label>
                <input asp-for="DataServico" class="form-control" />
                <span asp-validation-for="DataServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garantia" class="control-label"></label>
                <input asp-for="Garantia" class="form-control" />
                <span asp-validation-for="Garantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorServico" class="control-label"></label>
                <input asp-for="ValorServico" class="form-control" />
                <span asp-validation-for="ValorServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInclusao" class="control-label"></label>
                <input asp-for="DataInclusao" class="form-control" />
                <span asp-validation-for="DataInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoPlaca" class="control-label"></label>
                <input asp-for="VeiculoPlaca" class="form-control" />
                <span asp-validation-for="VeiculoPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

