@model CarLocadora.Modelo.Models.CategoriasModel

<div class="row">

    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="ValorDiaria" class="control-label"></label>
            <input asp-for="ValorDiaria" class="form-control" />
            <span asp-validation-for="ValorDiaria" class="text-danger"></span>
        </div>
    </div>



    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>

    </div>

