html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: hsl(0, 0%, 96%)
}
.nav-item:hover {
    background-color: #007bff !important;
    transition: 0.5s;
    
}
.nav-link:hover{
    color:white;
}