@model CarLocadora.Modelo.Models.VeiculosModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VeiculosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chassi" class="control-label"></label>
                <input asp-for="Chassi" class="form-control" />
                <span asp-validation-for="Chassi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combustivel" class="control-label"></label>
                <input asp-for="Combustivel" class="form-control" />
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opcionais" class="control-label"></label>
                <input asp-for="Opcionais" class="form-control" />
                <span asp-validation-for="Opcionais" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataInclusao" class="control-label"></label>
                <input asp-for="DataInclusao" class="form-control" />
                <span asp-validation-for="DataInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
